{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "javascript": {
    "parser": "espree",
    "plugins": ["jsx"]
  },
  "typescript": {
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"]
  },
  "react": {
    "pragma": "React",
    "propWrapperFunction": "React.memo"
  },
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto"
}